@import "variables.scss";

.background-white {
  background-color: #fff;
}

.background-green-mint {
  background-color: $green-mint;
}

.background-green-mint-10percent {
  background-color: $green-mint-10percent;
}

.background-green-mint-30percent {
  background-color: $green-mint-30percent;
}

.background-blue-sky-shade-50 {
  background-color: $blue-sky-shade-50;
}

.background-blue-sky-shade-60 {
  background-color: $blue-sky-shade-60;
}

.background-blue-sky-shade-70 {
  background-color: $blue-sky-shade-70;
}

.background-blue-sky-shade-80 {
  background-color: $blue-sky-shade-80;
}
