@import "variables.scss";

/*Header*/

#bar-branding {
  padding: 1rem 0 1rem 8rem;
  background-color: black;
  color: white;
}

#bar-title {
  padding: 8rem 0 8rem 8rem;
  color: black;
  background-image: linear-gradient(
    135deg,
    #cccccc 10%,
    #ffffff 10%,
    #ffffff 50%,
    #cccccc 50%,
    #cccccc 60%,
    #ffffff 60%,
    #ffffff 100%
  );
  background-size: 5px 5px;
  border-bottom: 1px solid $grey-light;
}

#bar-contents {
  padding: 4rem 4rem 4rem 8rem;
  border-bottom: 1px solid $grey-light;
}
